<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<File name="msglog" fileName="message.log"
			immediateFlush="true"
			append="false">
			<PatternLayout
				pattern="%d{UNIX_MILLIS} %msg%n" />
		</File>

    </Appenders>

    <Loggers>
    
        <!-- UNCOMMENT TO SPECIFY LOG LEVEL OF PACKAGES
        <Logger level="info" name="protocols.apps"/>
        <Logger level="info" name="protocols.overlays"/>
        <Logger level="debug" name="protocols.dissemination"/>
        -->

        <Logger level="info" name="io.netty"/>
        <Logger level="info" name="network"/>
        <Logger level="info" name="channel"/>
        <Logger level="info" name="babel"/>

    	<Logger name="protocols.apps" level="info" additivity="true">
			<AppenderRef ref="msglog" />
		</Logger>

        <Root level="debug">
            <AppenderRef ref="console" level="info"/>
       </Root>
   </Loggers>

</Configuration>
